<div class="col-md-8 col-md-offset-2">
  <%= render partial: 'shared/survey_builder_header', locals: { survey: @survey }%>
  <h1>Ask something...</h1>
  <%= form_for [@survey, @question] do |f| %>
    <label>What sort of question is this?</label>
    <div class="form-group">
      <%= f.collection_radio_buttons(:selection_type_id, SelectionType.all, :id, :string_version) do |b| %>
        <div class="radio-inline">
          <%= b.label { "#{b.radio_button} #{b.text}".html_safe }  %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.check_box :required, checked: true %>
      <%= f.label :required, "This question must be answered." %>
    </div>
    <div class="form-group">
      <%= f.label :prompt, "What would you like to know?" %>
      <%= f.text_field :prompt, class: 'form-control', placeholder: "e.g. What's your name?"%>
    </div>
    <%= f.submit "Next Step", class: 'btn btn-primary' %>
  <% end %>
  <hr>
  <h3>Questions so far</h3>
  <ul>
    <% @survey.questions.each_with_index do |question, index| %>
      <% unless index == @survey.questions.length - 1 %>
        <li><%= question.prompt %></li>
      <% end %>
    <% end %> 
  </ul>
</div>