<%= response_fields.fields_for :numeric_answers, 
                               NumericAnswer.new do |answer_fields| %>
  <%= answer_fields.hidden_field :selection_id, value: selection.id %>
  <%= answer_fields.hidden_field :selection_type, value: "RangeSelection" %>
  <%= answer_fields.label :value, selection.question.prompt %>
  <%= answer_fields.number_field :value, id: "slider-input-#{index}" , readonly: true %>
  <div id="slider-<%= index %>"></div>
<% end %>

<script>

$(document).ready(function() {
    var slider_control = "#slider-<%= index %>";
    var slider_input = "#slider-input-<%= index %>";
    var min = <%= selection.min %>;
    var max = <%= selection.max %>;
    var slider = $(slider_control).slider({
      min: min,
      max: max,
      value: min,
      slide: function( event, ui ) {
        $(slider_input).val(ui.value);
      }
    });
    $(slider_input).val(min);
  });
</script>